.header__link {
  margin-top: 6px;
  padding: 0;
  border: 0;
  font-family: 'Inter';
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: right;
  text-decoration: none;
  cursor: pointer;
}