.popup__input {
  width: 83.26%;
  height: 32.5px;
  margin-top: 20px;
  margin-left: 7.9%;
  margin-bottom: 5px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  color: #000;
  font-family: 'Inter', serif, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
}