.header__text {
  margin-top: 6px;
  margin-right: 24px;
  padding: 0;
  border: 0;
  font-family: 'Inter', sans-serif, serif;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  text-align: right;
  text-decoration: none;
}